body {
  background: #505050;
}

h1 {
  color: #009b7d;
  font-family: "Courier New", Courier, monospace;
  margin: 100px 100px;
  text-align: center;
  text-shadow: 0.1em 0.1em 0.15em black;
  font-size: 50px;
}
h2 {
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 45px;
  margin-top: 50px;
  text-align: center;
  text-shadow: 0.1em 0.1em 0.15em #009b7d;
  font-size: 45px;
}

a {
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  color: white;
  display: block;
  padding: 25px 25px;
  text-align: center;
  text-shadow: 0.1em 0.1em 0.15em black;
}

p {
  color: white;
  display: block;
  margin-top: 5px;
  text-align: center;
}
.img-fluid {
  display: block;
  margin: auto;
  max-width: 60%;
  padding-bottom: 25px;
  padding-top: 50px;
}

.nav-links {
  font-size: 20px;
  margin-top: 45px;
  text-shadow: 0.1em 0.1em 0.15em #c71585;
}

footer {
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 14px;
  font-weight: bold;
  margin-top: 125px;
  max-width: 100%;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
}

.a-footer {
  font-size: 16px;
}
