body {
  background: #d7d7d7;
}

h1,
h2,
h3 {
  color: #1b1811;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  text-shadow: 0.1em 0.1em 0.15em #ffc0cb;
}

a {
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  color: #1b1811;
  display: block;
  padding: 25px 25px;
  text-align: center;
  text-shadow: 0.1em 0.1em 0.15em #08e8de;
}

.img-fluid {
  display: block;
  margin: auto;
  max-width: 60%;
  padding-bottom: 25px;
  padding-top: 50px;
}
